a {
  float: left;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
  color: black;
  text-align: center;
}

a:hover {
  background-color: #bf5700;
  color: white;
}

ul {
  width: 50%;
}

li {
  float: left;
  text-align: center;
  padding-right: 15px;
  display: inline-block;
  white-space: nowrap;
}

img {
  width: 500px;
  float: left;
  display: block;
  padding-right: 80%;
  padding-top: 15px;
  padding-left: 10px;
}
